@import url("fonts.css");
@import url("reset.css");
@import url("flaticon.css");

.display-none{
  display: none;
}

.pad-none{
  padding: 0px;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #eee;
}

body, button{
  font-family: 'MyriadProRegular', arial, sans-serif;
}

.header{
  /* background: url(../img/header_bg.jpg) center center;
  background-size: cover; */
  background: #473e54;
}

.header .logo{
  width: 100%;
  max-width: 836px;
  display:table-cell;
  vertical-align:middle;
  margin: auto;
  padding-top: 20px;
}
.header img { width:100%; margin:10px 0;}
#headertext {
    float: right;
    width: 505px;
    height: auto;
    color: #fff;
    text-align: right;
    padding: 0px 10px 0px 0px;
}
#headertext h1 {
    font-size: 19pt;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;
    color: #01aeff;
}
#headertext h2 {
    font-size: 25pt;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    color: #f655d3;
}
#headertext span {
    font-size: 10pt;
    text-transform: uppercase;
    color: #f3f3f3;
}

.controls{
  background: #4c1e46;
  color: #fff;
  height: 50px;
}

/*label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}*/

.controls button.filter{
  display: inline-block;
  border: 0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  background: #4c1e46;
  line-height: 43px;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 1px; 
}
.controls button.filter.active:nth-child(1){
  text-decoration: none;
}
.controls button.filter:hover{text-decoration: underline;}
.controls button.filter.active{
  text-decoration: underline;
}

.controls button.filter:focus{
  outline: 0 none;
}

.controls button.filter + label{
  margin-left: 1em;
}

@-moz-document url-prefix() 
{ 
  .controls button.filter{
    line-height: 43px;
    padding: 0px 4px 0px 4px;
  }
}

.controls .search{
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  border: 0px;
  padding: 0 5px 0 5px;
  box-sizing: border-box;
  font-family: 'MyriadProRegular', arial, sans-serif;
  letter-spacing: 1px;
}

.content{
  text-align: justify;
  background: #fff;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  padding: 5px 0px 1px 0px;
}

.content:after{
  content: '';
  width: 100%;
  margin: 0px;
}

.content .mix{
  padding: 5px;
  background: #fff;
  display: none;
  font-family: 'MyriadProRegular', arial, sans-serif;
}

.content .mix{
  text-align: center;
  color:#595959;
  cursor: pointer;
  box-sizing: border-box;
}

.content .mix:hover{
  background: #efefef;
}

.content .mix img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.content .mix p{
  font-weight: bold;
  font-family: 'MyriadProRegular', arial, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom:10px;
}

.content .mix ul{
  margin: 10px 0 10px 0;
  display: none;
}

.content .mix ul li{
  display: inline-block;
  margin: 0 2px 0 2px;
}

.content .mix a{
  color:#fff;
}

.footer{
  background: #4c1e46;
  line-height: 50px;
  color: #fff;
  font-family: 'MyriadProRegular', arial, sans-serif;
  text-align: center;
}

#map #firstHeading { font-size: 14px; font-weight: bold; padding-bottom: 10px;}

#map .btn-map {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
    margin-top: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#map .btn-map:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
#map .btn-map:active {
	position:relative;
	top:1px;
}


@media screen and (max-width: 1199px){
  body{
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .menu-btn{
    background: #4c1e46;
    line-height: 48px;
    width: 60px;
    cursor: pointer;
  }

  .menu-wrap{
    position: absolute;
    margin-top: -4px;
    z-index: 99;
    width: 96%;
    margin-left: 0px;
    margin-right: 0px;
    display: none;

  }

  .menu-wrap .cats{
    display: block;
    position: absolute;
  }

  .controls .search{
    margin: 10px;
  }

  .controls .menu-wrap .filter{
    display: block;
    line-height: 40px;
    width: 100%;
    text-align: left;
    border-left: 1px solid #4c1e46;
    border-right: 1px solid #4c1e46;
    border-bottom: 1px solid #4c1e46;
    outline: 1px solid #4c1e46;
    border-radius: 0px;
  }

  .controls .menu-wrap .filter:focus{
    border-left: 1px solid #4c1e46;
    border-right: 1px solid #4c1e46;
    border-bottom: 1px solid #4c1e46;
    outline: 1px solid #4c1e46;
    border-radius: 0px;
  }
} 

@media (max-width: 992px) {
	.header .col-md-3, .header .col-md-9 {text-align: center;}
	.header img {width: 50%;}
	#headertext {float: none; width: 100%; text-align: center; padding:0; margin-bottom: 10px;}
	#headertext h1 {font-size: 14pt; margin: 5px 0px 0px 0px;}
}

@media screen and (min-width: 692px){
  .mix img{
    max-width: 150px;
  }
}

@media screen and (max-width: 692px){
  .content .mix img{
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 344px){
  .content .mix img{
    width: 70px;
    height: 70px;
  }
}

.mix img{

  margin:auto;
}